body{
    background-color: rgb(222, 245, 238);
    color:rgb(125, 157, 174);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: rgb(112, 112, 186);
    color: rgb(7, 15, 67);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}